.center {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

dl.inline dd {
  display: inline;
  margin: 0;
}
dl.inline dd:after{
  display: block;
  content: '';
}
dl.inline dt{
  display: inline-block;
  padding: 2px 10px 2px 5px;
  font-weight: bold;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}